body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: rgb(241, 240, 240);
}

/* Global */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

button {
    height: 38px;
    background: #6de9ff;
    border: 1px solid black;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

/* Heaer */
header {
    background: #dee0e2;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #6de9ff 3px solid;
}

header a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left
}

header #branding h1 {
    margin: 0;
}

header nav {
    margin-top: 10px;
    float: right;
}

header .highlight, header .current a {
    color: #6de9ff;
}

#showcase {
    min-height: 400px;
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),url('../assets/showcase.jpg') no-repeat 0 -400px;
    background-size: cover;
    text-align: center;
    color: white;

}

#showcase h1 {
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p {
    font-size: 20px;
}

/* Newsletter */

#newsletter {
    padding: 15px;
    color: white;
    background: #dee0e2;
}

#newsletter h1 {
    float: left;
    color: black;
}

#newsletter .submit_button {
    background-color: green;
}

#newsletter form {
    float: right;
    margin-top: 20px;
    border-radius: 10px
}

#newsletter input[type="email"] {
    padding: 4px;
    height: 25px;
    width: 250px;
}

/* Boxes */

#boxes {
    margin-top: 20px;
}

#boxes .box {
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
}

#boxes .box i {
    font-size: 80px;
}

#memberships_title {
    background-color: #dee0e2;
}

.card {
    position: relative;
    background-color: #dee0e2;
    border-radius: 10px;
    border: 2px solid #6de9ff;
    padding: 0px 0px 0px 0px;
    height: 500px;
}

.card h1 {
    text-align: center;
}
/* 
.card .price {
    
}

.price_inline h1, price_inline small {
    display: inline;
} */

.price {
    position: absolute;
    width: 100%;
    bottom: 0px;
    background-color: #6de9ff;
    border-radius: 10px;
    color: black;
    border-top: 2px solid #6de9ff;
}

.price:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}

.membership_content {
    padding-bottom: 5px;

}

.membership_content ul {
    list-style: none;
    margin-left: 10px;
}

.personal_training_ribbon{
    position: relative;
    background-color: pink;
    width: 70%;
    margin: auto;
}

.personal_training_ribbon blockquote {
    width: 75%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.personal_training_ribbon img {
    position: absolute;
    width: 500px;
    height: auto;
    float: right;
}

/* footer {
    padding: 20px;
    margin-top: 20px;
    color: black;
    background-color: #6de9ff;
    text-align: center;
} */